<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="buttons.css">
    <title>Buttons</title>
</head>
<body class="background">
    <h1>Buttons</h1>
    <section>
        <h2>Filled buttons</h2>
        <ul class="bt-list filled-btn">
            <li><button class="btn filled enabled">Enabled</button></li>
            <li><button class="btn filled hovered">Hovered</button></li>
            <li><button class="btn filled focused">Focused</button></li>
            <li><button class="btn filled pressed">Pressed</button></li>
            <li><button class="btn filled disabled">Disabled</button></li>
        </ul>
    </section>

    <section>
        <h2>Outlined buttons</h2>
        <ul class="bt-list outlined-btn">
            <li><button class="btn outline enabled">Enabled</button></li>
            <li><button class="btn outline hovered">Hovered</button></li>
            <li><button class="btn outline focused">Focused</button></li>
            <li><button class="btn outline pressed">Pressed</button></li>
            <li><button class="btn outline disabled">Disabled</button></li>
        </ul>
    </section>

    <section>
        <h2>Text buttons</h2>
        <ul class="bt-list text-btn">
            <li><button class="text enabled btn">Enabled</button></li>
            <li><button class="text hovered btn">Hovered</button></li>
            <li><button class="text focused btn">Focused</button></li>
            <li><button class="text pressed btn">Pressed</button></li>
            <li><button class="text disabled btn">Disabled</button></li>
        </ul>
    </section>
</body>
</html>